/* line 6, ../sass/modules/_m-row.scss */
.m-row {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
/* line 10, ../sass/modules/_m-row.scss */
.m-row:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
/* line 19, ../sass/modules/_m-row.scss */
.m-row .m-row__three-quarter {
  width: calc(75% - (25px / 2));
  float: left;
}
@media (max-width: 800px) {
  /* line 19, ../sass/modules/_m-row.scss */
  .m-row .m-row__three-quarter {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (min-width: 800px) {
  /* line 19, ../sass/modules/_m-row.scss */
  .m-row .m-row__three-quarter {
    margin-right: 12.5px;
  }
  /* line 29, ../sass/modules/_m-row.scss */
  .m-row .m-row__three-quarter.last {
    margin-left: 12.5px;
    margin-right: 0;
  }
}
/* line 37, ../sass/modules/_m-row.scss */
.m-row .m-row__half {
  width: calc(50% - (25px / 2));
  float: left;
}
@media (max-width: 800px) {
  /* line 37, ../sass/modules/_m-row.scss */
  .m-row .m-row__half {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (min-width: 800px) {
  /* line 37, ../sass/modules/_m-row.scss */
  .m-row .m-row__half {
    margin-right: 12.5px;
  }
  /* line 47, ../sass/modules/_m-row.scss */
  .m-row .m-row__half:last-child, .m-row .m-row__half.last {
    margin-left: 12.5px;
    margin-right: 0;
  }
}
/* line 56, ../sass/modules/_m-row.scss */
.m-row .m-row__third {
  width: calc(33.33% - ((25px * 2) / 3));
  float: left;
}
@media (max-width: 800px) {
  /* line 56, ../sass/modules/_m-row.scss */
  .m-row .m-row__third {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (min-width: 800px) {
  /* line 56, ../sass/modules/_m-row.scss */
  .m-row .m-row__third {
    margin-right: 12.5px;
    margin-left: 12.5px;
  }
  /* line 67, ../sass/modules/_m-row.scss */
  .m-row .m-row__third:first-child {
    margin-left: 0;
  }
  /* line 70, ../sass/modules/_m-row.scss */
  .m-row .m-row__third:last-child, .m-row .m-row__third.last {
    margin-right: 0;
  }
}
/* line 78, ../sass/modules/_m-row.scss */
.m-row .m-row__quarter {
  width: calc(25% - ((25px * 3) / 4));
  float: left;
}
@media (max-width: 800px) {
  /* line 78, ../sass/modules/_m-row.scss */
  .m-row .m-row__quarter {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (min-width: 800px) {
  /* line 78, ../sass/modules/_m-row.scss */
  .m-row .m-row__quarter {
    margin-right: 12.5px;
    margin-left: 12.5px;
  }
  /* line 89, ../sass/modules/_m-row.scss */
  .m-row .m-row__quarter:first-child {
    margin-left: 0;
  }
  /* line 92, ../sass/modules/_m-row.scss */
  .m-row .m-row__quarter:last-child, .m-row .m-row__quarter.last {
    margin-right: 0;
  }
}
/* line 100, ../sass/modules/_m-row.scss */
.m-row .m-row__fifth {
  width: calc(20% - ((25px * 4) / 5));
  float: left;
}
@media (max-width: 800px) {
  /* line 100, ../sass/modules/_m-row.scss */
  .m-row .m-row__fifth {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (min-width: 800px) {
  /* line 100, ../sass/modules/_m-row.scss */
  .m-row .m-row__fifth {
    margin-right: 12.5px;
    margin-left: 12.5px;
  }
  /* line 111, ../sass/modules/_m-row.scss */
  .m-row .m-row__fifth:first-child {
    margin-left: 0;
  }
  /* line 114, ../sass/modules/_m-row.scss */
  .m-row .m-row__fifth:last-child, .m-row .m-row__fifth.last {
    margin-right: 0;
  }
}

/* line 3, ../sass/modules/_m-lede.scss */
.m-lede {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 40px;
}
/* line 9, ../sass/modules/_m-lede.scss */
.m-lede:before {
  content: "";
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjgyOCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(40, 40, 40, 0.2)), color-stop(100%, rgba(40, 40, 40, 0.65)));
  background-image: -moz-linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.65));
  background-image: -webkit-linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.65));
  background-image: linear-gradient(rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.65));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 18, ../sass/modules/_m-lede.scss */
.m-lede.home {
  background-image: url("../images/lede.jpg");
}
/* line 21, ../sass/modules/_m-lede.scss */
.m-lede h3 {
  font-size: 22px;
}
/* line 24, ../sass/modules/_m-lede.scss */
.m-lede .m-lede-author {
  font-weight: normal;
  color: white;
}
/* line 28, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__inner {
  max-width: 1000px;
  min-height: 650px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 800px) {
  /* line 28, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__inner {
    min-height: 400px;
    padding: 275px 15px 15px;
  }
}
/* line 38, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__featured {
  position: absolute;
  width: 100%;
  bottom: 75px;
  left: 0px;
  right: 0px;
}
@media (max-width: 800px) {
  /* line 38, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__featured {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
/* line 50, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__featured a {
  color: white;
  text-decoration: none;
}
/* line 53, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__featured a:hover {
  text-decoration: underline;
}
/* line 58, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__main,
.m-lede .m-lede__5 {
  position: absolute;
  bottom: 0;
}
@media (max-width: 800px) {
  /* line 58, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__main,
  .m-lede .m-lede__5 {
    width: 100%;
    margin: 0 0 35px 0;
    position: relative;
  }
}
@media (min-width: 800px) {
  /* line 68, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__main {
    width: calc(57% - 15px);
    left: 15px;
  }
}
/* line 74, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__5 {
  color: white;
}
/* line 76, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__5 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 81, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__5 li {
  list-style-type: none;
  margin-bottom: 15px;
  line-height: 1.4;
}
/* line 85, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__5 li.eyebrow {
  background: white;
  color: #282828;
  padding: 2px 4px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
}
@media (min-width: 800px) {
  /* line 81, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__5 li {
    font-size: 21px;
  }
}
@media (min-width: 800px) {
  /* line 74, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__5 {
    width: calc(37% - 15px);
    right: 15px;
  }
}
/* line 103, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__logo {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  width: 160px;
  height: 100px;
  position: absolute;
  top: 15px;
  left: 15px;
}
/* line 115, ../sass/modules/_m-lede.scss */
.m-lede .m-lede__logo:hover {
  opacity: 0.75;
}
@media (max-width: 800px) {
  /* line 103, ../sass/modules/_m-lede.scss */
  .m-lede .m-lede__logo {
    width: 120px;
    height: 80px;
  }
}

/* line 3, ../sass/modules/_m-loop.scss */
.m-loop {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}
/* line 10, ../sass/modules/_m-loop.scss */
.m-loop .m-blog-post-content,
.m-loop .m-gallery-post-content {
  margin-top: 10px;
}

/* line 16, ../sass/modules/_m-loop.scss */
.pagination {
  color: #A5A5A5;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
}

/* line 3, ../sass/modules/_m-post.scss */
.m-post {
  width: 80%;
  max-width: 670px;
  margin: 20px auto 0px auto;
}
/* line 7, ../sass/modules/_m-post.scss */
.m-post-header {
  width: 80%;
  margin-bottom: 3.4rem;
}
/* line 14, ../sass/modules/_m-post.scss */
.m-post-title {
  margin-bottom: 0;
  display: block;
}
/* line 18, ../sass/modules/_m-post.scss */
.m-post-meta {
  margin: 0;
}
/* line 21, ../sass/modules/_m-post.scss */
.m-post-date {
  padding: 0;
  margin: 0;
  border: none;
}
/* line 26, ../sass/modules/_m-post.scss */
.m-post-main-nav {
  max-width: 60px;
  margin: 40px;
  text-align: center;
  background-color: black;
  font-size: 13px;
}
/* line 32, ../sass/modules/_m-post.scss */
.m-post-main-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 38, ../sass/modules/_m-post.scss */
.m-post-tag {
  list-style: none;
  margin: 2px;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  background-color: black;
}
/* line 46, ../sass/modules/_m-post.scss */
.m-post-tag a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 52, ../sass/modules/_m-post.scss */
.m-post-tags {
  margin-left: 0;
  -webkit-padding-start: 0;
}
/* line 56, ../sass/modules/_m-post.scss */
.m-post-author {
  margin: 10px 0px 10px 0px;
}
/* line 59, ../sass/modules/_m-post.scss */
.m-post-date {
  font-size: 13px;
}

/* line 19, ../sass/style.scss */
article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary {
  display: block;
}

/* line 24, ../sass/style.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 25, ../sass/style.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 26, ../sass/style.scss */
[hidden], template {
  display: none;
}

/* line 27, ../sass/style.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 32, ../sass/style.scss */
body {
  margin: 0;
}

/* line 33, ../sass/style.scss */
a {
  background: transparent;
}

/* line 34, ../sass/style.scss */
a:focus {
  outline: thin dotted;
}

/* line 35, ../sass/style.scss */
a:active, a:hover {
  outline: 0;
}

/* line 36, ../sass/style.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 37, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 38, ../sass/style.scss */
b, strong {
  font-weight: 700;
}

/* line 39, ../sass/style.scss */
dfn {
  font-style: italic;
}

/* line 40, ../sass/style.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 45, ../sass/style.scss */
mark {
  background: #FF0;
  color: #000;
}

/* line 46, ../sass/style.scss */
code, kbd, pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 48, ../sass/style.scss */
pre {
  white-space: pre-wrap;
}

/* line 49, ../sass/style.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 50, ../sass/style.scss */
small {
  font-size: 80%;
}

/* line 51, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, ../sass/style.scss */
sup {
  top: -0.5em;
}

/* line 58, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* line 59, ../sass/style.scss */
img {
  border: 0;
}

/* line 60, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 61, ../sass/style.scss */
figure {
  margin: 0;
}

/* line 62, ../sass/style.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 67, ../sass/style.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 68, ../sass/style.scss */
button, input, select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 70, ../sass/style.scss */
button, input {
  line-height: normal;
}

/* line 71, ../sass/style.scss */
button, select {
  text-transform: none;
}

/* line 72, ../sass/style.scss */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 77, ../sass/style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 78, ../sass/style.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 80, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 86, ../sass/style.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 88, ../sass/style.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 90, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 91, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 95, ../sass/style.scss */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

/* line 102, ../sass/style.scss */
body {
  height: 100%;
  max-height: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #666;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

/* line 115, ../sass/style.scss */
::-moz-selection {
  background: #D6EDFF;
}

/* line 119, ../sass/style.scss */
::selection {
  background: #D6EDFF;
}

/* line 123, ../sass/style.scss */
h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
}

/* line 135, ../sass/style.scss */
h1 {
  font-size: 5rem;
  letter-spacing: -2px;
  text-indent: -3px;
}
@media (max-width: 800px) {
  /* line 135, ../sass/style.scss */
  h1 {
    font-size: 3.5rem;
  }
}

/* line 144, ../sass/style.scss */
h2 {
  font-size: 2.6rem;
}
/* line 146, ../sass/style.scss */
h2.m-blog-head, h2.m-gallery-head {
  font-size: 13px;
  background: #282828;
  text-transform: uppercase;
  padding: 2px 4px;
  font-weight: lighter;
  display: inline-block;
}
/* line 154, ../sass/style.scss */
h2.m-blog-head a, h2.m-gallery-head a {
  color: white;
}
/* line 156, ../sass/style.scss */
h2.m-blog-head a:hover, h2.m-gallery-head a:hover {
  text-decoration: none;
}
@media (max-width: 800px) {
  /* line 144, ../sass/style.scss */
  h2 {
    font-size: 2rem;
  }
}

/* line 166, ../sass/style.scss */
h3 {
  font-size: 3rem;
}

/* line 170, ../sass/style.scss */
h4 {
  font-size: 2.5rem;
}

/* line 174, ../sass/style.scss */
h5 {
  font-size: 2rem;
}

/* line 178, ../sass/style.scss */
h6 {
  font-size: 2rem;
}

/* line 182, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 186, ../sass/style.scss */
a {
  color: #282828;
  text-decoration: none;
}
/* line 189, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 194, ../sass/style.scss */
.eyebrow {
  text-transform: uppercase;
  font-size: 13px;
}

/* line 199, ../sass/style.scss */
.site-footer {
  background: #282828;
  padding: 20px 15px;
  margin-top: 25px;
  color: white;
}
/* line 204, ../sass/style.scss */
.site-footer a {
  color: white;
}
/* line 207, ../sass/style.scss */
.site-footer section {
  font-size: 14px;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 216, ../sass/style.scss */
.gallery-head a,
.post-head a {
  color: white;
}

/* line 221, ../sass/style.scss */
.m-gallery-post-head,
.m-blog-post-head {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 227, ../sass/style.scss */
.m-gallery-post-head .m-gallery-post-image,
.m-gallery-post-head .m-blog-post-image,
.m-blog-post-head .m-gallery-post-image,
.m-blog-post-head .m-blog-post-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 240, ../sass/style.scss */
footer.post-meta {
  font-size: 14px;
  line-height: 1;
}
